<div
  class="flex flex-col sm:flex-row items-center sm:justify-center gap-9 mt-7 pb-2"
>
  <div class="flex sm:flex-col gap-4">
    <div
      class="w-[6.75rem] sm:w-44 sm:h-[226px] sm:mx-auto shrink-0 bg-[#EDEDED] rounded-[5px]"
    >
      <div class="h-full flex flex-col gap-2 p-[6px]">
        <div
          class="grow sm:h-44 flex items-center justify-center rounded-[5px] bg-[#E0E0E0]"
        >
          <svg
            width="35"
            height="43"
            viewBox="0 0 35 43"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.4612 25.8045C32.1185 25.8045 34.2725 27.9516 34.2725 30.6004V32.559C34.2725 33.7818 33.8891 34.9739 33.1758 35.9688C29.8685 40.5819 24.468 42.8674 17.1508 42.8674C9.83183 42.8674 4.43415 40.5811 1.13484 35.9653C0.424639 34.9718 0.0429688 33.7822 0.0429688 32.5622V30.6004C0.0429688 27.9516 2.19704 25.8045 4.85423 25.8045H29.4612ZM17.1508 0.223633C23.0585 0.223633 27.8478 4.99756 27.8478 10.8865C27.8478 16.7754 23.0585 21.5494 17.1508 21.5494C11.2429 21.5494 6.45361 16.7754 6.45361 10.8865C6.45361 4.99756 11.2429 0.223633 17.1508 0.223633Z"
              fill="#A8A8A8"
            />
          </svg>
        </div>
        <p class="text-[0.625rem] leading-[1.4] text-[#b3b3b3] text-center">
          Participants Name
        </p>
      </div>
    </div>

    <div class="grow flex flex-col sm:items-center max-w-[15rem]">
      <p class="text-sm font-medium mb-2">Auto Allotment</p>
      <p class="text-xs text-[#5c5c5c] leading-4 mb-6 sm:text-center">
        In auto allotment, the system assigns allotment positions for allocation
        to all participants.
      </p>

      <button
        type="button"
        class="bg-purple-main text-white h-8 w-[138px] inline-flex justify-center items-center text-xs font-medium rounded-[4px]"
        (click)="handleTypeSelection('auto')"
      >
        Auto Allotment
      </button>
    </div>
  </div>

  <div class="w-[2px] bg-[#e1e1e1] hidden sm:block"></div>

  <div class="flex sm:flex-col gap-4">
    <div
      class="w-[6.75rem] sm:w-44 sm:h-[226px] sm:mx-auto shrink-0 bg-[#EDEDED] rounded-[5px]"
    >
      <div class="h-full flex flex-col gap-2 p-[6px]">
        <div
          class="grow flex items-center justify-center rounded-[5px] bg-[#E0E0E0]"
        >
          <svg
            width="35"
            height="43"
            viewBox="0 0 35 43"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.4612 25.8045C32.1185 25.8045 34.2725 27.9516 34.2725 30.6004V32.559C34.2725 33.7818 33.8891 34.9739 33.1758 35.9688C29.8685 40.5819 24.468 42.8674 17.1508 42.8674C9.83183 42.8674 4.43415 40.5811 1.13484 35.9653C0.424639 34.9718 0.0429688 33.7822 0.0429688 32.5622V30.6004C0.0429688 27.9516 2.19704 25.8045 4.85423 25.8045H29.4612ZM17.1508 0.223633C23.0585 0.223633 27.8478 4.99756 27.8478 10.8865C27.8478 16.7754 23.0585 21.5494 17.1508 21.5494C11.2429 21.5494 6.45361 16.7754 6.45361 10.8865C6.45361 4.99756 11.2429 0.223633 17.1508 0.223633Z"
              fill="#A8A8A8"
            />
          </svg>
        </div>
        <p class="text-[0.625rem] leading-[1.4] text-[#b3b3b3] text-center">
          Participants Name
        </p>
        <ng-select
          class="rounded-[5px] border border-black"
          appendTo="body"
          (change)="handlePositionChange($event)"
        >
          @for (n of allowableNumbers; track $index) {
          <ng-option [value]="n">{{ n }}</ng-option>
          }
        </ng-select>
      </div>
    </div>

    <div class="grow flex flex-col sm:items-center max-w-[15rem]">
      <p class="text-sm font-medium mb-2">Manual Allotment</p>
      <p class="text-xs text-[#5c5c5c] leading-4 mb-6 sm:text-center">
        In manual allotment, Participants can choose allotment position of
        allocation for themselves.
      </p>

      <button
        type="button"
        class="text-white h-8 w-[138px] inline-flex justify-center items-center text-xs font-medium rounded-[4px]"
        [ngClass]="{
          'bg-[#D0D5DD]': !selectedPosition,
          'bg-purple-main': selectedPosition
        }"
        [disabled]="!selectedPosition"
        (click)="handleTypeSelection('manual')"
      >
        Manual Allotment
      </button>
    </div>
  </div>
</div>
