<div class="mb-8 mt-[-28px] mx-[-32px] py-2 px-8 bg-white border-b border-[#E9EAEB]">
  <div class="flex justify-between items-center">
    <div class="flex">
      <div class="cursor-pointer px-6 py-3 border-b-2 border-purple-main text-purple-main font-medium">
        My Plans
      </div>
      <div class="cursor-pointer px-6 py-3 text-gray-500">
        Public Plans
      </div>
    </div>
    
    <div class="py-2">
      <button class="bg-purple-main text-white px-4 py-2 rounded-lg flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        Search Public Plans
      </button>
    </div>
  </div>
</div>

@if (loading) {
<div class="min-h-[70vh] flex items-center justify-center">
  <ca-loader />
</div>
} @else {
<!--  -->
@if (!adminMgrs.length && !participantMgrs.length && !filtered) {
<ca-mgr-intro />
} @else {
<div class="mb-10">
  <h2 class="text-purple-main mb-6 font-medium">Admin (MGR) Plans</h2>
  <ca-mgr-plan-list [plans]="adminMgrs" [isAdmin]="true" />

  <div class="h-[1px] bg-[#c5c5c5] my-8"></div>

  <h2 class="text-purple-main mb-6 font-medium">Participated (MGR) Plans</h2>
  <ca-mgr-plan-list [plans]="participantMgrs" />
</div>
} }
