<ca-h1 class="mb-6 mt-[18px]">transaction history</ca-h1>

<ca-card class="rounded-xl p-4 mb-6 lg:mb-10">
  <ca-table
    [tableHeading]="tableHeading"
    [tableData]="tableData()"
    [paginationData]="pagination"
    (onNextClick)="handleNextPageClick()"
    (onPrevClick)="handlePrevPageClick()"
  >
    <ng-template let-item #tableBody>
      <td class="whitespace-nowrap text-center">{{ item.id }}</td>
      <td class="whitespace-nowrap">#{{ item.amount | number : "1.2-2" }}</td>
      <td class="whitespace-nowrap text-center">
        {{ item.created_at | date : "dd MMM, yyyy" }}
      </td>
      <td
        class="whitespace-nowrap text-center capitalize"
        [ngClass]="{
          'text-success': item.provider_status === 'success',
          'text-warning': item.provider_status === 'pending',
          'text-danger': item.provider_status === 'failed'
        }"
      >
        {{ item.provider_status }}
      </td>
      <td class="whitespace-nowrap text-center">
        <div class="h-full flex items-center justify-center gap-2">
          @if (item.flow === 'out') {
          <i class="ca-x-circle text-[#D92121]"></i>
          } @else {
          <i class="ca-check-circle text-[#049F0A]"></i>
          }
          {{ (item.flow === "in" ? "credit" : "debit") | titlecase }}
        </div>
      </td>
      <td>
        {{ item.source | titlecase }}
      </td>
      <td class="whitespace-nowrap">
        {{ item.description }}
      </td>
    </ng-template>
  </ca-table>
</ca-card>
