<ca-content-sidebar>
  <div class="ca-investments gap-6 sm:gap-10 mt-8 mb-10">
    <ca-investment-card
      name="Direct real estate investment"
      scheme="Fixed Deposit Scheme"
      period="annual"
      [percentageReturn]="40"
      path="/investment/Direct real estate investment/1"
    />
    <ca-investment-card
      name="Direct real estate investment"
      scheme="Fixed Deposit Scheme"
      period="annual"
      [percentageReturn]="40"
      path="/investment/Direct real estate investment/2"
    />
    <ca-investment-card
      name="Direct real estate investment"
      scheme="Fixed Deposit Scheme"
      period="annual"
      [percentageReturn]="40"
      path="/investment/Direct real estate investment/3"
    />
    <ca-investment-card
      name="Direct real estate investment"
      scheme="Fixed Deposit Scheme"
      period="annual"
      [percentageReturn]="40"
      path="/investment/Direct real estate investment/4"
    />
  </div>
</ca-content-sidebar>
