<div class="flex-ctr">
  <ca-mgr-balance-card class="shrink-0 h-full" [plan]="plan" />

  <div class="col-2 grow">
    <div class="share-alloc flex flex-col sm:flex-row gap-2">
      <ca-card class="py-3 px-4 rounded-[14px] share-link grow leading-3">
        <div class="flex items-center">
          <div class="sm:font-medium text-xs text-[#7D7F85]">
            Share invite link
          </div>

          <div class="ms-auto flex gap-2 icon-buttons">
            <button
              class="rounded-full inline-flex items-center justify-center w-8 h-8 text-white bg-purple-main"
              [disabled]="!inviteLink"
            >
              <i class="ca-share-network text-xs"></i>
            </button>
            <button
              class="rounded-full inline-flex items-center justify-center w-8 h-8 text-white bg-purple-main"
              [caCopyText]="inviteLink!"
              [disabled]="!inviteLink"
            >
              <i class="ca-copy text-xs"></i>
            </button>
          </div>
        </div>
        @if (!inviteLink) {
        <div class="text-sm sm:text-xs font-medium text-[#b0b0b0] mt-3">
          Not available
        </div>
        } @else {
        <div
          class="text-sm sm:text-xs font-medium sm:max-w-[22rem] lg:max-w-[13rem] xl:max-w-[16rem] overflow-hidden text-nowrap text-ellipsis mt-3"
        >
          <a
            target="_blank"
            class="underline text-primary"
            [routerLink]="['/', 'mgr', plan.id, 'join']"
            [queryParams]="{ invite_id: plan.invite_link }"
            >{{ inviteLink }}</a
          >
        </div>
        }
      </ca-card>

      @if (plan.next_allocation_to) {
      <div class="allocation-card grow">
        <ca-card class="px-4 py-3 rounded-md h-full">
          <div
            class="inline-flex gap-3 items-center text-xs text-[#7D7F85] mb-[6px]"
          >
            Next Allocation to
            <span class="bg-warning alloc-position">
              {{ plan.next_allocation_to.slot_number }}
            </span>
          </div>

          <div class="flex items-center gap-[0.625rem]">
            <img src="assets/images/profile-photo.webp" alt="" />
            <p class="text-xs font-medium">
              {{ plan.next_allocation_to.name | titlecase }}
            </p>
          </div>
        </ca-card>
      </div>
      }
    </div>

    <div class="allocation-card">
      <ca-card class="px-4 py-3 rounded-md h-full">
        <div
          class="inline-flex gap-3 items-center text-xs text-[#7D7F85] mb-[6px]"
        >
          Allocation Position
          <span class="bg-warning rounded-full alloc-position">
            {{ activePlan()?.logged_user_position }}
          </span>
        </div>
        <p class="text-xs max-w-[171px]">
          Your Allocation position is [{{ activePlan()?.logged_user_position }}]
          and you will get
          {{
            +plan.amount * +plan.number_of_members
              | currency : "NGN" : "symbol-narrow"
          }}.
        </p>
      </ca-card>
    </div>
  </div>
</div>

<h2
  class="font-medium my-5"
  style="font-size: clamp(1.25rem, 1.1667rem + 0.3704vw, 1.5rem)"
>
  Participants ({{ users.length }} of {{ plan.number_of_members }})
</h2>

<ca-card class="p-4 lg:p-5 rounded-md lg:rounded-xl mb-6 lg:mb-10">
  <ca-table
    [tableHeading]="tableHeading"
    [tableData]="users"
    [hasPagination]="false"
  >
    <ng-template let-item #tableBody>
      <td class="whitespace-nowrap">
        <div class="flex items-center gap-3">
          @if (!item.profile_pic) {
          <div
            class="h-[50px] w-[50px] font-medium text-lg bg-purple-main rounded-full"
          >
            <div
              class="h-full w-full inline-flex items-center justify-center text-white"
            >
              {{ item.first_name[0] }}{{ item.last_name[0] }}
            </div>
          </div>
          } @else {
          <img src="rounded-full" alt="" width="50" height="50" />
          }
          {{ item.first_name | titlecase }} {{ item.last_name | titlecase }}
        </div>
      </td>
      <td class="whitespace-nowrap">{{ item.role | titlecase }}</td>
      <td class="whitespace-nowrap text-center">
        <span
          class="bg-[#FFBD00] h-7 w-7 font-ubuntu font-medium text-sm rounded-full inline-flex items-center justify-center"
        >
          {{ item.position }}
        </span>
      </td>
      <td class="whitespace-nowrap">
        <span
          class="text-white text-sm font-medium"
          [attr.data-status]="item.status"
        >
          {{ item.status === 1 ? "Joined" : "" }}
        </span>
      </td>
      <td class="whitespace-nowrap">
        {{ item.join_date | date : "dd MMMM, y hh:mm a" }}
      </td>
      <td class="whitespace-nowrap">
        <div class="inline-flex gap-3">
          <button
            ca-button-icon
            [disabled]="activePlan()!.status === 'active'"
            (click)="swapMember(item)"
          >
            <!-- [ngClass]="{
              '!hidden': activePlan()!.status === 'active'
            }" -->
            <!-- activePlan()!.logged_user_position === item.position && -->
            <i class="ca-arrows-left-right"></i>
          </button>
          <!-- (item.role === 'member' && activePlan()!.status !== 'active') ||
          item.role === 'admin' || -->
          <button
            ca-button-icon
            [disabled]="
              activePlan()!.status === 'active' || item.role === 'admin'
            "
            (click)="
              removeMember(item.user_id, item.first_name, item.last_name)
            "
          >
            <i class="ca-trash"></i>
          </button>
        </div>
      </td>
    </ng-template>
  </ca-table>
</ca-card>
