<div class="flex-ctr">
  <ca-mgr-balance-card class="shrink-0 h-full" [plan]="plan" />

  <div class="col-2 grow">
    <div class="share-alloc flex flex-col sm:flex-row gap-2">
      <ca-card class="py-3 px-4 rounded-[14px] share-link grow">
        <div class="flex items-center">
          <div class="sm:font-medium text-xs text-[#7D7F85]">
            Share invite link
          </div>

          <div class="ms-auto flex gap-2 icon-buttons">
            <button
              class="rounded-full inline-flex items-center justify-center w-8 h-8 text-white bg-purple-main"
              [disabled]="!inviteLink"
            >
              <i class="ca-share-network text-xs"></i>
            </button>
            <button
              class="rounded-full inline-flex items-center justify-center w-8 h-8 text-white bg-purple-main"
              [caCopyText]="inviteLink!"
              [disabled]="!inviteLink"
            >
              <i class="ca-copy text-xs"></i>
            </button>
          </div>
        </div>
        @if (!inviteLink) {
        <div class="text-sm sm:text-xs font-medium text-[#b0b0b0] mt-3">
          Not available
        </div>
        } @else {
        <div
          class="text-sm sm:text-xs font-medium sm:max-w-[22rem] lg:max-w-[13rem] xl:max-w-[16rem] overflow-hidden text-nowrap text-ellipsis mt-3"
        >
          <a
            [routerLink]="['/', 'mgr', plan.id, 'join']"
            [queryParams]="{ invite_id: plan.invite_link }"
            class="underline"
            >{{ inviteLink }}</a
          >
        </div>
        }
      </ca-card>

      <div class="allocation-card grow">
        <ca-card class="px-4 py-3 rounded-md h-full">
          <div
            class="inline-flex gap-3 items-center text-xs text-[#7D7F85] mb-[6px]"
          >
            Next Allocation to
            <span class="bg-warning alloc-position"> 6 </span>
          </div>

          <div class="flex items-center gap-[0.625rem]">
            <img src="assets/images/profile-photo.webp" alt="" />
            <p class="text-xs font-medium">Kristin Watson</p>
          </div>
        </ca-card>
      </div>
    </div>

    <div class="allocation-card">
      <ca-card class="px-4 py-3 rounded-md h-full">
        <div
          class="inline-flex gap-3 items-center text-xs text-[#7D7F85] mb-[6px]"
        >
          Allocation Position
          <span class="bg-warning rounded-full alloc-position"> 6 </span>
        </div>
        <p class="text-xs max-w-[171px]">
          Your Allocation position is [5] and you will get
          {{
            +plan.amount * +plan.number_of_members
              | currency : "NGN" : "symbol-narrow"
          }}.
        </p>
      </ca-card>
    </div>
  </div>
</div>

<ca-participants-table class="block mt-8" />
