:host .flex-ctr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

:host .col-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

:host .col-2 .allocation-card {
  box-shadow: 0.5px 0.5px 12px 0 #8c8c8c0d;
  border-radius: 14px;
  overflow: hidden;
}

:host .col-2 .alloc-position {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.625rem;
}

:host .col-2 .allocation-card img {
  width: clamp(1.625rem, 1.6667rem + -0.1852vw, 1.5rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

@media screen and (min-width: 52rem) {
  :host .flex-ctr {
    align-items: start;
    flex-direction: row;
    gap: 0.75rem;
  }
}

@media screen and (min-width: 56rem) {
  :host .flex-ctr {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }
}

@media screen and (min-width: 65rem) {
  :host .flex-ctr {
    align-items: start;
    flex-direction: row;
    gap: 0.75rem;
  }

  :host .flex-ctr ca-mgr-balance-card {
    flex-basis: calc(56.6% - 28px);
  }

  :host .flex .col-2 {
    flex: 0 1 auto;
  }

  :host .flex-ctr .col-2 .share-alloc > ca-card {
    flex-basis: calc(56% - 8px);
  }
}

:host .icon-buttons button:disabled {
  background-color: #d3d3d3;
}

:host [data-status="1"] {
  height: 30px;
  width: 88px;
  background-color: #17b890;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.c-badge {
  height: 30px;
  width: 88px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

:host button[ca-button-icon] {
  border: 1px solid #009d76;
  /* border-image: linear-gradient(58.91deg, #17b890 9.35%, #009d76 91.36%); */
  border-radius: 50%;
  position: relative;
}

:host button[ca-button-icon]:disabled {
  border: 1px solid #d92121;
}

:host button[ca-button-icon]:disabled::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #d92121;
  transform: rotate(-45deg);
}
