@if (step === 'bank-details-form') {
<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="mt-7">
  <div class="mb-6">
    <ca-form-field [isRequired]="true">
      <div class="grow -mx-5">
        <ng-select
          class="px-2"
          placeholder="Select bank"
          labelForId="bank"
          notFoundText="No banks found"
          bindLabel="bank_name"
          bindValue="id"
          appendTo="body"
          formControlName="bank_account_id"
          [items]="banks$ | async"
          [ngClass]="{
            'ng-dirty ng-touched': isSubmitted && bankAccountId?.invalid
          }"
          (change)="handleSelectBank($event)"
        >
        </ng-select>
      </div>
    </ca-form-field>
    @if (isSubmitted && bankAccountId?.invalid) {
    <ca-form-error [errors]="bankAccountId?.errors" />
    }
  </div>

  <div class="mb-6">
    <ca-form-field [isRequired]="true">
      <input
        type="text"
        class="h-full"
        [placeholder]="selectedBank?.account_number || '1234567890'"
        formControlName="account_number"
        readonly
      />
    </ca-form-field>
    @if (holderName.length) {
    <p class="text-end text-purple-main mt-2 leading-1.2">
      {{ holderName | titlecase }}
    </p>
    }
  </div>

  <div class="mb-5">
    <ca-form-field [isRequired]="true">
      <input
        type="number"
        class="h-full"
        formControlName="amount"
        placeholder="Enter amount, e.g 1000"
        [ngClass]="{
          'ng-dirty ng-touched':
            isSubmitted && !validWithdrawalAmount(amount?.value)
        }"
      />
    </ca-form-field>

    @if (isSubmitted && !validWithdrawalAmount(amount?.value)) {
    <ca-form-error [errors]="amount?.errors" />
    }
  </div>

  <div class="mb-12 flex text-sm leading-1.2">
    <p class="text-[#7d7f85]">Processing Fee</p>
    <p class="text-[#5c5c5c] ms-auto">
      ₦{{
        validWithdrawalAmount(amount?.value)
          ? formattedCurrency(amount?.value ?? null)
          : 0
      }}
    </p>
  </div>

  <div class="text-end">
    <button class="w-52" ca-button-primary type="submit">Next</button>
  </div>
</form>
} @else if (step === 'confirm') {
<div class="max-w-[29.25rem] mx-auto text-center">
  <ca-paper-plane-icon />
  <hgroup class="mt-7 mb-11">
    <h2
      class="font-medium mb-4 leading-1.2"
      style="font-size: clamp(1.25rem, 1rem + 1.1111vw, 2rem)"
    >
      Withdrawal Request
    </h2>
    <p class="max-w-[22.75rem] mx-auto leading-[1.375] text-[#171717]">
      You are about to send
      {{ amount?.value | currency : "NGN" : "symbol-narrow" : "1.0-0" }}
      to {{ selectedBank?.account_number }} {{ selectedBank?.bank_name }}.
    </p>
  </hgroup>

  <div class="flex gap-4 sm:gap-7">
    <button
      class="w-full"
      ca-button-secondary
      type="button"
      (click)="cancelWithdrawalRequest()"
    >
      Cancel
    </button>
    <button
      class="w-full"
      ca-button-primary
      type="button"
      [loading]="loading"
      (click)="moveToOtp()"
    >
      Continue
    </button>
  </div>
</div>
} @else {
<div class="text-center mt-2 mx-auto max-w-[26.625rem]">
  <hgroup class="mb-8">
    <h2 class="mt-2 mb-3 font-medium text-2xl">OTP Verification</h2>
    <p>
      please enter the 4-digit verification code sent to your email address
      {{ user()!.email }} to proceed
    </p>
  </hgroup>

  <form [formGroup]="otpForm" (ngSubmit)="completeWithdrawal()">
    <div class="mx-auto max-w-[18.5rem]">
      <ca-otp [size]="4" formControlName="otp" />

      @if (isSubmitted && otp?.errors) {
      <ca-form-error [errors]="otp?.errors" />
      }
    </div>

    <div class="mt-11 mb-8">
      <button
        type="submit"
        class="w-full"
        ca-button-primary
        [loading]="loading"
      >
        Confirm
      </button>
    </div>
  </form>

  <p class="text-[#171717]">
    Haven't received the OTP?
    <button type="button" class="text-purple-main font-medium">
      Resend OTP
    </button>
  </p>
</div>
}
