@if (!hasSavings) {
<div class="flex items-center justify-center h-full">
  <div class="max-w-[33.5rem] text-center">
    <img src="assets/images/empty-folder.svg" alt="" class="inline-block" />
    <p
      class="text-xl text-[#5c5c5c] mt-12 mb-9"
      style="font-size: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem)"
    >
      You do not have any savings plan. Click the button below to start a saving
      plan
    </p>
    <a routerLink="./create" class="btn primary">Start saving</a>
  </div>
</div>
} @else {
<ca-h1 class="mb-[14px]" style="text-transform: none">
  Savings plan overview
</ca-h1>

<div class="sp-card p-5 text-white mb-5 lg:mb-6 relative">
  <div class="">
    <div class="sm:flex items-center border-b-[0.5px] sm:pb-7 sm:pt-2">
      <div class="flex items-center gap-4">
        <img src="assets/images/dollar-coin.png" alt="" class="dollar-coin" />
        <div class="capitalize">
          <div class="plan-name font-semibold">Savings name</div>
          <div class="text-sm font-medium">monthly</div>
        </div>
      </div>

      <div class="text-center my-[30px] sm:m-0 sm:ms-auto">
        <div class="sp-amount font-semibold mb-[6px]">
          {{ 50000 | currency : "NGN" : "symbol-narrow" }}
        </div>
        <div class="text-xs">Total Units: {{ 50 | number : "1.2-2" }}</div>
      </div>
      <div class="absolute right-4 top-2">
        <ca-dropdown>
          <button caDropdownMenuTrigger>
            <i class="ca-three-dots-fill font-bold"></i>
          </button>
          <ca-dropdown-menu caClickOutsideCloseDirective="open">
            <ca-dropdown-menu-item
              >Increase monthly amount</ca-dropdown-menu-item
            >
            <ca-dropdown-menu-item>
              Add funds to current Savings
            </ca-dropdown-menu-item>
            <ca-dropdown-menu-item>Withdraw</ca-dropdown-menu-item>
            <ca-dropdown-menu-item>Request to Cancel</ca-dropdown-menu-item>
          </ca-dropdown-menu>
        </ca-dropdown>
      </div>
    </div>

    <div
      class="pt-5 grid gap-y-3 sm:gap-x-10 sm:grid-cols-2 md:gap-x-8 lg:gap-x-[166px] xl:gap-x-[200px]"
    >
      <div class="flex text-sm">
        <div class="font-medium capitalize">Duration:</div>
        <div class="ms-auto">10 Months</div>
      </div>

      <div class="flex text-sm">
        <div class="font-medium capitalize">withdrawal date:</div>
        <div class="ms-auto">
          {{ "2024-04-25T20:59:09.199Z" | date : "d MMM, YYYY" }}
        </div>
      </div>

      <div class="flex text-sm">
        <div class="font-medium capitalize">next savings amount:</div>
        <div class="ms-auto">
          {{ 10000 | currency : "NGN" : "symbol-narrow" }}
        </div>
      </div>

      <div class="flex text-sm">
        <div class="font-medium capitalize">next due date:</div>
        <div class="ms-auto">
          {{ "2024-04-25T20:59:09.199Z" | date : "d MMM, YYYY" }}
        </div>
      </div>
    </div>
  </div>
</div>

<ca-card class="py-7 px-5 rounded-xl mb-10">
  <ca-table [tableHeading]="tableHeading" [tableData]="tableData">
    <ng-template #tableBody let-item>
      <td class="whitespace-nowrap">
        {{ item.amount | currency : "NGN" : "symbol-narrow" }}
      </td>
      <td class="whitespace-nowrap">{{ item.units }}</td>
      <td class="whitespace-nowrap">
        <span class="badge" [attr.data-status]="item.status">
          {{ item.status }}
        </span>
      </td>
      <td class="whitespace-nowrap">
        {{ item.date | date : "d MMM YYYY, hh:mm a" }}
      </td>
      <td class="whitespace-nowrap capitalize">{{ item.active }}</td>
    </ng-template>
  </ca-table>
</ca-card>
}
