:host .sp-card {
  background: linear-gradient(58.91deg, #470b96 9.35%, #6b1bd3 91.36%);
  border-radius: 14px;
}

:host .dollar-coin {
  width: clamp(3.625rem, 3.5rem + 0.5556vw, 4rem);
}

:host .plan-name {
  font-size: clamp(1.25rem, 1.1667rem + 0.3704vw, 1.5rem);
}

:host .sp-amount {
  font-size: clamp(1.25rem, 1.1667rem + 0.3704vw, 1.5rem);
}
