@if (!hasSavings) {
<div class="flex items-center justify-center h-full">
  <div class="max-w-[33.5rem] text-center">
    <img src="assets/images/empty-folder.svg" alt="" class="inline-block" />
    <p
      class="text-xl text-[#5c5c5c] mt-12 mb-9"
      style="font-size: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem)"
    >
      You do not have any savings plan. Click the button below to start a saving
      plan
    </p>
    <a routerLink="./create" class="btn primary">Start saving</a>
  </div>
</div>
} @else {
<ca-h1 class="mb-[14px] mt-[18px]" style="text-transform: none">
  Savings plan overview
</ca-h1>

<div class="sp-card p-5 text-white mb-5 lg:mb-6">
  <div class="">
    <div class="flex items-center gap-4">
      <img src="assets/images/dollar-coin.png" alt="" class="dollar-coin" />
      <div class="capitalize">
        <div class="plan-name font-semibold">Savings name</div>
        <div class="text-sm font-medium">monthly</div>
      </div>
      <button class="ms-auto self-start">
        <i class="ca-three-dots-fill font-bold"></i>
      </button>
    </div>
  </div>
</div>

<ca-card class="py-7 px-5 rounded-xl mb-10">
  <ca-table [tableHeading]="tableHeading" [tableData]="tableData">
    <ng-template #tableBody let-item>
      <td class="whitespace-nowrap">
        {{ item.amount | currency : "NGN" : "symbol-narrow" }}
      </td>
      <td class="whitespace-nowrap">{{ item.units }}</td>
      <td class="whitespace-nowrap">
        <span class="badge" [attr.data-status]="item.status">
          {{ item.status }}
        </span>
      </td>
      <td class="whitespace-nowrap">
        {{ item.date | date : "d MMM YYYY, hh:mm a" }}
      </td>
      <td class="whitespace-nowrap capitalize">{{ item.active }}</td>
    </ng-template>
  </ca-table>
</ca-card>
}
