<div class="mt-8">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <ca-form-field
      label="New allocation position"
      labelFor="position"
      class="block"
      [isRequired]="true"
    >
      <div class="-mx-5 grow">
        <ng-select
          id="position"
          placeholder="Select new position"
          appendTo="body"
          formControlName="slot"
          [searchable]="false"
          [items]="availableSlots$ | async"
        />
      </div>
    </ca-form-field>

    <div class="mt-10">
      <button
        type="submit"
        class="w-full"
        ca-button-primary
        [loading]="loading"
        [disabled]="form.invalid"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
