<ca-card class="px-4 sm:px-6 pt-4 pb-6 sm:pb-12 mb-8 rounded-lg">
  <div class="flex flex-col sm:flex-row gap-6 sm:gap-0 items-center">
    <h2 class="text-purple-main font-medium">Debit & Credit Card Info</h2>

    <button
      class="btn btn-xs bg-purple-main text-white sm:ms-auto h-8"
      (click)="openModal()"
    >
      <i class="ca-plus"></i> Add new card
    </button>
  </div>

  @if (cards()) {
  <div class="ca-payment-cards mt-6">
    @for (card of cards(); track card.id) {
    <ca-payment-card col-1 cardProvider="visa" [card]="card" />
    } @empty {
    <div class="mt-9 flex flex-col items-center">
      <img
        src="assets/images/no-card.svg"
        alt=""
        width="157.27"
        height="153.32"
      />
      <p class="mt-1 font-medium">No cards added yet</p>
      <p class="mt-[6px] text-xs text-[#5c5c5c]">
        Seems like you've not added a card
      </p>
    </div>
    }
  </div>
  }

  <!-- Handle loading -->
  @if (loading) {
  <div class="flex items-center justify-center h-full mt-8">
    <ca-loader />
  </div>
  }
</ca-card>
