:host .ca-payment-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

:host .ca-payment-cards ca-payment-card {
  width: 100%;
  max-width: 19.6875rem;
}

@media screen and (min-width: 46.625rem) {
  :host .ca-payment-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 0.75rem;
    place-items: center;
  }
}

@media screen and (min-width: 75rem) {
  :host .ca-payment-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
