:host div[role="menu"] div[role="menuitem"] {
  background: #f6f6f6;
  border: 1px solid #dcdcdc;
  height: 50px;
  border-radius: 5px;
}

:host div[role="menu"] div[role="menuitem"] label {
  font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  color: #373737;
}

:host .account-details {
  background: #f6f6f6;
}

:host .transfer {
  height: 0;
  margin-block-end: 0;
  overflow-y: hidden;
  transition: 0.3s;
}

:host
  div[role="menu"]:has(input[type="radio"][value="transfer"]:checked)
  .transfer {
  height: 200px;
  overflow-y: auto;
  margin-block-end: 20px;
}
