<ca-card class="rounded-xl h-[101px] overflow-hidden select-none">
  <div class="bg-purple-main h-full py-5 px-4">
    <p class="mb-2 text-white">Refer a friend and earn rewards 🎁</p>
    <ca-card class="h-[34px] rounded-md border border-[#C6A0F8]">
      <div class="h-full px-4 flex items-center gap-[0.875rem]">
        <p
          class="text-sm font-medium grow border-e border-e-[#7D7F85] pe-4 w-64 text-ellipsis overflow-hidden"
        >
          newref=1&ref=95d75b09500720
        </p>
        <button class="text-purple-main ms-auto font-medium">
          <i class="ca-copy"></i>
        </button>
      </div>
    </ca-card>
  </div>
</ca-card>
