<div
  class="h-screen flex flex-col items-center justify-center gap-4 bg-black text-white"
>
  <h1>Buttons</h1>

  <div class="flex flex-col gap-4">
    <h2>Primary buttons</h2>

    <button ca-button-primary ca-button-sm>Label</button>
    <button ca-button-primary ca-button-sm><i class="ca-plus"></i>Label</button>
    <button ca-button-primary ca-button-sm>Label<i class="ca-plus"></i></button>
    <button ca-button-primary>Label</button>
    <button ca-button-primary><i class="ca-plus"></i>Label</button>
    <button ca-button-primary>Label<i class="ca-plus"></i></button>
    <button ca-button-primary disabled>Label</button>
  </div>
</div>
