<h2 class="text-2xl font-semibold mb-5">Verify your identity</h2>
<p class="mb-7">
  To enhance security and protect your account, we require your BVN for
  verification. Rest assured, your information is handled with the utmost
  confidentiality.
  <strong class="font-medium"
    >Please ensure that the name on your profile and date of birth matches the information on your BVN to
    prevent any errors.</strong
  >
</p>

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="mb-3">
    <label for="bvn" class="font-medium inline-block mb-2"
      >Bank Verification Number</label
    >
    <ca-form-field [isRequired]="true">
      <input
        type="text"
        class="h-full"
        formControlName="bvn"
        id="bvn"
        placeholder="Enter your 11 digit BVN number"
        [ngClass]="{ 'ng-invalid ng-touched': isSubmitted && bvn?.invalid }"
      />
    </ca-form-field>
    @if (isSubmitted && bvn?.invalid) {
    <ca-form-error [errors]="bvn?.errors" />
    }
  </div>

  <div>
    <label for="dob" class="font-medium inline-block mb-2">Date of Birth</label>
   
      <ca-form-field [isRequired]="true">
        <input
          id="dob"
          type="text"
          formControlName="dob"
          bsDatepicker
          readonly
          placeholder="Enter date of birth"
          [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
          [ngClass]="{
            'ng-dirty ng-touched': isSubmitted && (dob?.dirty || dob?.touched)
          }"
        />
      </ca-form-field>
      @if (isSubmitted && (dob?.dirty || dob?.touched)) {
      <ca-form-error [errors]="dob?.errors" />
      }
  </div>

  <div class="mt-14 flex justify-end gap-4 sm:gap-7">
    <button
      type="button"
      class="w-full max-w-52"
      ca-button-secondary
      (click)="skipVerification()"
    >
      Skip for now
    </button>
    <button
      type="submit"
      class="w-full max-w-52"
      ca-button-primary
      [loading]="loading"
    >
      Continue
    </button>
  </div>
</form>
