<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <ca-form-field
    label="Name"
    labelFor="name"
    class="block mb-6"
    [isRequired]="true"
  >
    <input type="text" id="name" formControlName="name" readonly />
  </ca-form-field>

  <!-- 2 cols -->
  <div class="xl:grid grid-cols-2 gap-4">
    <ca-form-field
      label="Duration"
      labelFor="duration"
      class="block mb-6"
      [isRequired]="true"
    >
      <div class="-mx-5 grow">
        <ng-select
          class="px-2"
          labelForId="duration"
          formControlName="duration"
          [clearOnBackspace]="false"
          [readonly]="true"
        >
          @for (duration of durations; track $index) {
          <ng-option [value]="duration.id">{{ duration.name }}</ng-option>
          }
        </ng-select>
      </div>
    </ca-form-field>

    <ca-form-field
      label="Number of members"
      labelFor="num-members"
      class="block mb-6"
      [isRequired]="true"
    >
      <input
        type="number"
        id="num-members"
        formControlName="number_of_members"
        readonly
      />
    </ca-form-field>
  </div>
  <!-- 2 cols -->

  <div class="xl:grid gap-4" [ngClass]="{ 'grid-cols-2': isManual }">
    <ca-form-field
      label="Amount"
      labelFor="amount"
      class="block mb-6"
      [isRequired]="true"
    >
      <input type="number" id="amount" formControlName="amount" readonly />
      <div class="border-s border-[#7D7F85] ps-3" style="color: #77777e">
        NGN
      </div>
    </ca-form-field>

    @if (isManual) {
    <div class="mb-6">
      <ca-form-field
        label="Allotment position"
        labelFor="position"
        class="block"
        [isRequired]="true"
      >
        <div class="-mx-5 grow">
          <ng-select
            labelForId="position"
            class="px-2"
            placeholder="Select position"
            formControlName="allotment_position"
            [ngClass]="{
              'ng-touched ng-dirty': isSubmitted && showAllotmentError
            }"
          >
            @for (pos of allotmentPositions; track $index) {
            <ng-option [value]="pos">{{ pos }}</ng-option>
            }
          </ng-select>
        </div>
      </ca-form-field>
      @if (isSubmitted && showAllotmentError) {
      <ca-form-error [errors]="{ required: true }" />
      }
    </div>
    }
  </div>

  <ca-form-field
    label="Join date deadline"
    labelFor="date"
    class="block mb-6"
    [isRequired]="true"
  >
    <input id="date" type="text" formControlName="join_date_deadline" />
    <i class="ca-calendar text-[#5c5c5c]"></i>
  </ca-form-field>

  <!-- 2 cols -->
  <div class="xl:grid grid-cols-2 gap-4">
    <ca-form-field
      label="Contribution start date"
      labelFor="start-date"
      class="block mb-6"
      [isRequired]="true"
    >
      <input id="date" type="text" formControlName="contribution_start_date" />
      <i class="ca-calendar text-[#5c5c5c]"></i>
    </ca-form-field>

    <ca-form-field
      label="Allocation date"
      labelFor="allocation-date"
      class="block mb-6"
      [isRequired]="true"
    >
      <input id="date" type="text" formControlName="allocation_date" />
      <i class="ca-calendar text-[#5c5c5c]"></i>
    </ca-form-field>
  </div>
  <!-- 2 cols -->

  <div class="mb-12">
    <div class="flex items-start gap-3">
      <input type="checkbox" id="subscribe" [formControl]="terms" />
      <label class="text-sm" for="subscribe">
        I agree to Collo Africa MGR terms and conditions.
      </label>
    </div>
    @if (isSubmitted && terms.invalid) {
    <ca-form-error [errors]="terms.errors" />
    }
  </div>

  <div class="mb-4">
    <button
      class="w-full btn bg-purple-main text-white disabled:opacity-60"
      type="submit"
      loadingColour="#fff"
      [loading]="loading"
    >
      Join plan
    </button>
  </div>
</form>
