<div class="max-w-[70.6rem] mx-auto md:flex items-center px-4 sm:px-0 my-8">
  <div class="text-black max-w-[36rem]">
    <h1 class="font-semibold">Oops!</h1>
    <p class="my-6 font-medium leading-1.2">Something went wrong</p>
    <button class="font-semibold text-white px-5 py-3">Try again</button>
  </div>
  <div class="ms-auto mt-10 md:mt-0 text-center md:text-end">
    <img
      src="assets/images/robot.webp"
      alt=""
      width="366"
      class="inline-block"
    />
  </div>
</div>
