:host h1 {
  font-size: clamp(3rem, 2rem + 4.4444vw, 6rem);
}

:host p {
  font-size: clamp(2rem, 1.3333rem + 2.963vw, 4rem);
}

:host button {
  background: linear-gradient(90deg, #470b96 0%, #e29700 100%);
  display: inline-block;
  border-radius: 4px;
}
