<ca-h1 class="mb-[14px] mt-[18px]">dashboard</ca-h1>

<ca-analytics [analytics]="analytics" />

<div class="chart-area mb-4">
  <ca-card class="rounded-xl px-4 sm:px-5 pt-6 pb-[28px] chart-box">
    <div
      echarts
      [options]="options"
      [loading]="isLoading"
      style="height: 100%; min-height: 245px"
    ></div>
  </ca-card>

  <div class="flex flex-col gap-3">
    <ca-account-info-card />
    <ca-start-plan-card />
    <ca-referral-link />
  </div>
</div>

<ca-card class="rounded-xl p-4 mb-6 lg:mb-10">
  <ca-table
    [tableHeading]="tableHeading"
    [tableData]="tableData"
    [hasPagination]="false"
  >
    <ng-template let-item #tableBody>
      <td class="whitespace-nowrap text-center">{{ item.id }}</td>
      <td class="whitespace-nowrap">#{{ item.amount | number : "1.2-2" }}</td>
      <td
        class="whitespace-nowrap text-center capitalize"
        [ngClass]="{
          'text-success': item.provider_status === 'success',
          'text-warning': item.provider_status === 'pending',
          'text-danger': item.provider_status === 'failed'
        }"
      >
        {{ item.provider_status }}
      </td>
      <td class="whitespace-nowrap text-center">
        {{ item.created_at | date : "dd MMM, yyyy" }}
      </td>
      <td class="whitespace-nowrap text-center">
        <div class="h-full flex items-center justify-center gap-2">
          @if (item.flow === 'out') {
          <i class="ca-x-circle text-[#D92121]"></i>
          } @else {
          <i class="ca-check-circle text-[#049F0A]"></i>
          }
          {{ (item.flow === "in" ? "credit" : "debit") | titlecase }}
        </div>
      </td>
    </ng-template>
  </ca-table>
</ca-card>
