<form class="mt-8">
  <ca-card class="px-6 pt-4 pb-6 sm:pb-12 mb-8">
    <h2 class="text-purple-main mb-10 font-medium text-xl">BVN Info</h2>

    <ca-cols-field-3>
      <ca-form-field
        label="BVN Number"
        labelFor="bvn"
        [isRequired]="true"
        col-1
      >
        <input id="bvn" type="number" />
      </ca-form-field>

      <ca-form-field
        label="Bank Name"
        labelFor="name"
        [isRequired]="true"
        col-2
      >
        <!-- <input id="name" type="text" autocomplete="name" /> -->
      </ca-form-field>

      <ca-form-field
        label="Account Number"
        labelFor="accout_number"
        [isRequired]="true"
        col-3
      >
        <input id="accout_number" type="number" />
      </ca-form-field>
    </ca-cols-field-3>
  </ca-card>

  <div class="mb-10">
    <button class="btn bg-purple-main h-[44px] text-white">
      Save & update
    </button>
  </div>
</form>
