<div
  class="ca-payment-card ps-6 pe-4 pt-4 rounded-xl w-full overflow-clip relative select-none"
  [ngClass]="{
    visa: card.card_name.toLowerCase() === 'visa',
    verve: card.card_name.toLowerCase() === 'verve',
    master: card.card_name.toLowerCase() === 'mastercards'
  }"
>
  <!-- Overlay -->
  @if (loading) {
  <div class="absolute inset-0 bg-white opacity-65 z-20"></div>
  }

  <div class="flex items-center h-9">
    <img
      src="assets/images/card-sim.png"
      alt="Sim"
      width="32"
      height="28"
      class="text-xs"
    />

    <img
      [src]="'assets/images/card-logo-' + card.card_name.toLowerCase() + '.svg'"
      [alt]="card.card_name"
      class="ms-auto logo"
      [width]=""
    />
  </div>

  <p class="card-number leading-1.2">
    <span>{{ card.card_number_decrypted | creditCardNumber }}</span>
  </p>

  <div class="inline-flex items-center gap-1 text-[#fefefe]">
    <span class="expires" style="font-size: 0.5rem">EXPIRES</span>
    <div class="text-sm font-medium">{{ card.card_expiry }}</div>
  </div>

  <button
    class="absolute right-[-7px] bottom-[-7px] z-10 h-12 w-12 rounded-full text-center bg-white"
    (click)="handleDelete(card.id)"
  >
    <i class="ca-trash-solid text-[#D92121]"></i>
  </button>
</div>
