:host .ca-alert {
  max-width: 36rem;
  width: 100%;
  border: 1px solid;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
}

:host .ca-alert.warning {
  background: #fff3dc;
  border: 1px solid #e29700;
}

:host .ca-alert.danger {
  background: #ffe8e9;
  border-color: #dc4952;
}
