:host .ca-alert {
  min-width: 20rem;
  max-width: 36rem;
  width: 95%;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

:host .ca-alert-item {
  border: 1px solid;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

:host .ca-alert-item.plain {
  width: fit-content;
  background-color: #fff;
  border: 1px solid #5c5c5c;
  min-width: max-content;
  margin-inline: auto;
}

:host .ca-alert-item.success {
  background: #e2fae3;
  border: 1px solid #049f0a;
}

:host .ca-alert-item.warning {
  background: #fff3dc;
  border: 1px solid #e29700;
}

:host .ca-alert-item.danger {
  background: #ffe8e9;
  border-color: #dc4952;
}
