:host .ca-modal {
  background: #0f0f0f99;
}

:host .ca-modal .ca-modal-content {
  width: 95%;
  max-width: 41.75rem;
  max-height: 550px;
  border-radius: 12px;
  transition: max-width 450ms;
  display: flex;
  flex-direction: column;
}

:host .ca-modal .ca-modal-content.small {
  max-width: 31.625rem;
}

:host .ca-modal .ca-modal-content.large {
  max-width: 60rem;
  height: auto;
  overflow-y: scroll;
}

:host h2 {
  font-size: clamp(1.25rem, 1.1667rem + 0.3704vw, 1.5rem);
}
