<ca-card class="ps-3 py-4 pe-[18px] rounded-md max-w-[50rem]">
  <div class="flex gap-2 items-start">
    <div
      class="icon-ctr rounded-full flex shrink-0"
      [attr.data-type]="
        notificationTypes.credit
          ? 'credit'
          : notificationTypes.debit
          ? 'debit'
          : 'swap'
      "
    >
      @if (notificationTypes.credit) {
      <i class="ca-dollar-send-circle m-auto rotate-180"></i>
      } @else if (notificationTypes.debit) {
      <i class="ca-dollar-send-circle m-auto"></i>
      } @else {
      <i class="ca-atom m-auto"></i>
      }
    </div>

    <div class="sm:flex items-center grow">
      <div class="max-w-[28.75rem]">
        <h2 class="text-sm font-semibold">{{ notification.data.title }}</h2>
        <p class="my-1 text-sm">{{ notification.data.message }}</p>
        <time [attr.datetime]="notification.created_at" class="font-medium">
          {{ notification.created_at | date : "MMMM d, YYYY, hh:mm a" }}
        </time>
      </div>

      @if (notificationTypes.swap_request && !notification.read_at) {
      <div class="mt-4 sm:mt-0 flex gap-3 sm:ms-auto">
        <button
          class="confirm text-xs text-white leading-4"
          loadingColour="#fff"
          [loading]="isAccepting"
          [disabled]="isAccepting"
          (click)="manageSwapRequest('accept')"
        >
          Confirm
        </button>
        <button
          class="reject text-xs text-white leading-4"
          loadingColour="#fff"
          [loading]="isRejecting"
          [disabled]="isRejecting"
          (click)="manageSwapRequest('reject')"
        >
          Reject
        </button>
      </div>
      }
    </div>
  </div>
</ca-card>
