<ca-h1 class="mb-[14px] mt-[18px]">notifications</ca-h1>

<div class="mb-10">
  <ca-notification-item
    class="block mb-3 md:mb-4"
    notificationTitle="Wallet Funded"
    message="You have successfully funded your wallet with N200,000"
    type="fund"
  />

  <ca-notification-item
    class="block mb-3 md:mb-4"
    notificationTitle="Withdrawal Successful"
    message="You have successfully funded your wallet with N200,000"
    type="withdraw"
  />

  <ca-notification-item
    class="block mb-3 md:mb-4"
    notificationTitle="New “MGR 3” Plan Join Request"
    message="Kelvin Utah is requesting to join the plan via invite link."
    type="request"
  />
</div>
