<div
  class="analytics flex flex-nowrap gap-4 overflow-x-scroll no-scrollbar mb-4"
>
  <ca-analytics-card
    class="h-full"
    name="total contribution"
    [amount]="5000000"
  >
    <span
      class="inline-flex items-center justify-center w-9 h-9 bg-purple-main"
    >
      <i class="ca-hand-coin text-white"></i>
    </span>
  </ca-analytics-card>
  <ca-analytics-card class="h-full" name="amount alloted" [amount]="50000">
    <span class="inline-flex items-center justify-center w-9 h-9 bg-warning">
      <i class="ca-atom text-white"></i>
    </span>
  </ca-analytics-card>
  <ca-analytics-card class="h-full" name="investments" [amount]="50000">
    <span class="inline-flex items-center justify-center w-9 h-9 inv">
      <i class="ca-currency-circle-dollar text-white"></i>
    </span>
  </ca-analytics-card>
  <ca-analytics-card class="h-full" name="wallets" [amount]="50000">
    <span class="inline-flex items-center justify-center w-9 h-9 wallet">
      <i class="ca-wallet text-white"></i>
    </span>
  </ca-analytics-card>
</div>
