<ng-container *ngIf="processing">
  <div class="p-10flex items-center justify-center">
    <ca-loader />
  </div>
</ng-container>
<ng-container *ngIf="!processing">
  <ca-savings-layout>
    <div col-1>
      <div class="p-4 sm:p-7 mb-5">
        <h2 class="text-2xl font-semibold mb-2">
          Contribution Overview
        </h2>
        <h3 class="text-lg text-gray-600 mb-5">
          Things to Know Before Setting Up a Plan
        </h3>
  
        <p class="mb-6 text-gray-700" style="line-height: 1.5">
          A Contribution plan works just like any typical contribution
          group such as Ajo, Adashi, or Esusu, the only difference is you
          get to do it digitally with more security and transparency.
          Before setting your plan up, ensure you have the following
          details – it is a good idea to speak to the people you want to
          join your group ahead of time so you all agree to the terms of
          the plan:
        </p>
  
        <ol class="space-y-4 mb-6 ps-5">
          <li>
            <span class="font-semibold">The contribution duration</span>
            – how frequently do you want to contribute and payout?
          </li>
          <li>
            <span class="font-semibold">The number of members</span> – decide on the number of people
            you want to join.
          </li>
          <li>
            <span class="font-semibold">Amount</span> – this is the sum each person will donate at the
            interval you decide (weekly, monthly, etc.)
          </li>
          <li>
            <span class="font-semibold">Contribution Start Date</span> – this is the date the system will
            start collecting contributions via the bank / card details
            provided. It is a good idea to select a date that gives
            members enough time to have their payment methods set up and their
            funds ready.
          </li>
          <li>
            <span class="font-semibold">Allocation Date</span> – this is the date when the total sum
            contributed will be paid out to the member whose turn it is
            to receive it.
          </li>
          <li>
            <span class="font-semibold">Allotment type</span> – You can manually allocate collection slots
            to members or it can be done automatically by the system.
            Members can also swap slots.
          </li>
        </ol>
        
        <p class="text-gray-700">
          If you have any questions regarding how to set up your plan,
          please contact us via <span class="font-semibold">WhatsApp</span> or call <span class="font-semibold">+234 809 999 2289</span>
        </p>
      </div>
    </div>
  
    <ca-card col-2 class="rounded-[15px] px-4 pt-7 pb-4 sm:px-7 sm:pt-10 sm:pb-7">
      @if (formTemplate === 'new' || formTemplate === 'edit') {
      <ca-mgr-plan-form />
      } @if (formTemplate === 'join') {
      <ca-join-mgr-plan-form />
      }
    </ca-card>
  </ca-savings-layout>
</ng-container>
