<h2 class="font-semibold mb-5 text-2xl">Your Collection Stastistics</h2>

<ca-table
  [tableHeading]="tableHeading"
  [tableData]="collectionStats"
  [hasPagination]="false"
>
  <ng-template let-item #tableBody>
    <td class="whitespace-nowrap">{{ item.sn }}</td>
    <td class="whitespace-nowrap">{{ item.allotment_period }}</td>
    <td class="whitespace-nowrap">
      {{ item.amount | currency : "NGN" : "symbol-narrow" }}
    </td>
    <td class="whitespace-nowrap">
      {{ item.payment_date | date : "dd MMMM, YYYY" }}
    </td>
    <td class="whitespace-nowrap">
      <span
        class="text-white text-sm font-medium"
        [attr.data-status]="item.status"
      >
        {{ item.status | titlecase }}
      </span>
    </td>
  </ng-template></ca-table
>
