<ca-card class="px-6 pt-4 pb-6 sm:pb-12 mb-5 rounded-lg">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <h2 class="text-purple-main mb-10 font-medium">Employment Info</h2>

    <ca-cols-field-3>
      <div col-1>
        <ca-form-field label="Occupation" labelFor="occupation">
          <input
            id="occupation"
            type="text"
            formControlName="occupation"
            [ngClass]="{
              'ng-dirty ng-touched':
                isSubmitted && (occupation?.dirty || occupation?.touched)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (occupation?.dirty || occupation?.touched)) {
        <ca-form-error [errors]="occupation?.errors" />
        }
      </div>

      <div col-2>
        <ca-form-field label="Employer Name" labelFor="employer">
          <input
            id="employer"
            type="text"
            formControlName="employer"
            [ngClass]="{
              'ng-dirty ng-touched':
                isSubmitted && (employer?.dirty || employer?.touched)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (employer?.dirty || employer?.touched)) {
        <ca-form-error [errors]="employer?.errors" />
        }
      </div>

      <div col-3>
        <ca-form-field label="Employer Address" labelFor="emp-address">
          <input
            id="emp-address"
            type="text"
            formControlName="employer_address"
            [ngClass]="{
              'ng-dirty ng-touched':
                isSubmitted &&
                (employerAddress?.dirty || employerAddress?.touched)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (employerAddress?.dirty ||
        employerAddress?.touched)) {
        <ca-form-error [errors]="employerAddress?.errors" />
        }
      </div>
    </ca-cols-field-3>

    <div class="mt-10">
      <button
        type="submit"
        class="btn bg-purple-main h-[44px] w-[152px] text-white"
        [loading]="loading"
        loadingColour="#fff"
      >
        Save & update
      </button>
    </div>
  </form>
</ca-card>
