<ca-card class="p-4 lg:p-5 rounded-md lg:rounded-xl mb-6 lg:mb-10">
  <h2 class="font-medium mb-5">Account Transactions</h2>

  <ca-table
    [tableHeading]="tableHeading"
    [tableData]="tableData"
    [paginationData]="pagination"
    (onNextClick)="handleNextPageClick()"
    (onPrevClick)="handlePrevPageClick()"
  >
    <ng-template let-item #tableBody>
      <td class="whitespace-nowrap">{{ item.transaction_id }}</td>
      <td class="whitespace-nowrap">{{ item.amount | currency : item.currency : 'symbol-narrow' }}</td>
      <td class="whitespace-nowrap">
        {{ item.created_at | date : "medium" }}
      </td>
      <td class="whitespace-nowrap">
        <div class="h-full flex items-center justify-center gap-2">
          @if (item.flow === 'out') {
          <i class="ca-x-circle text-[#D92121]"></i>
          } @else {
          <i class="ca-check-circle text-[#049F0A]"></i>
          }
          {{ (item.flow === "in" ? "credit" : "debit") | titlecase }}
        </div>
      </td>
    </ng-template>
  </ca-table>
</ca-card>
