<h1 class="font-semibold leading-1.2 mb-8">Sign Up</h1>

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <ca-cols-field-2 class="mb-6">
    <div col-1>
      <ca-form-field
        label="First Name"
        labelFor="first_name"
        [isRequired]="true"
      >
        <i class="ca-user-circle"></i>
        <input
          id="first_name"
          type="text"
          formControlName="first_name"
          [ngClass]="{
            'ng-dirty ng-touched':
              isSubmitted && (firstName?.dirty || firstName?.invalid)
          }"
        />
      </ca-form-field>
      @if (isSubmitted && (firstName?.dirty || firstName?.invalid)) {
      <ca-form-error [errors]="firstName?.errors" />
      }
    </div>

    <div col-2>
      <ca-form-field label="Last Name" labelFor="last_name" [isRequired]="true">
        <i class="ca-user-circle"></i>
        <input
          id="last_name"
          type="text"
          formControlName="last_name"
          [ngClass]="{
            'ng-dirty ng-touched':
              isSubmitted && (lastName?.dirty || lastName?.invalid)
          }"
        />
      </ca-form-field>
      @if (isSubmitted && (lastName?.dirty || lastName?.invalid)) {
      <ca-form-error [errors]="lastName?.errors" />
      }
    </div>
  </ca-cols-field-2>

  <div class="mb-6">
    <ca-form-field label="Email" labelFor="email" [isRequired]="true">
      <i class="ca-at"></i>
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{
          'ng-dirty ng-touched': isSubmitted && (email?.dirty || email?.invalid)
        }"
      />
    </ca-form-field>
    @if (isSubmitted && (email?.dirty || email?.invalid)) {
    <ca-form-error [errors]="email?.errors" />
    }
  </div>

  <div class="mb-6">
    <ca-form-field label="Phone Number" labelFor="phone" [isRequired]="true">
      <i class="ca-phone"></i>
      <input
        id="phone"
        type="tel"
        formControlName="phone_number"
        [ngClass]="{
          'ng-dirty ng-touched':
            isSubmitted && (phoneNumber?.dirty || phoneNumber?.invalid)
        }"
      />
    </ca-form-field>
    @if (isSubmitted && (phoneNumber?.dirty || phoneNumber?.invalid)) {
    <ca-form-error [errors]="phoneNumber?.errors" />
    }
  </div>

  <ca-cols-field-2 class="mb-6">
    <div col-1>
      <ca-form-field label="Password" labelFor="password" [isRequired]="true">
        <input
          type="password"
          id="password"
          formControlName="password"
          [ngClass]="{
            'ng-dirty ng-touched':
              isSubmitted && (password?.dirty || password?.invalid)
          }"
        />
      </ca-form-field>
      @if (isSubmitted && (password?.dirty || password?.invalid)) {
      <ca-form-error [errors]="password?.errors" />
      }
    </div>

    <div col-2>
      <ca-form-field
        label="Confirm Password"
        labelFor="confirm_password"
        [isRequired]="true"
      >
        <input
          type="password"
          id="confirm_password"
          formControlName="password_confirmation"
          [ngClass]="{
            'ng-dirty ng-touched':
              isSubmitted &&
              (passwordConfirmation?.dirty || passwordConfirmation?.invalid)
          }"
        />
      </ca-form-field>
      @if (isSubmitted && (passwordConfirmation?.dirty ||
      passwordConfirmation?.invalid)) {
      <ca-form-error [errors]="form.errors" />
      }
    </div>
  </ca-cols-field-2>

  <div class="mb-6">
    <ca-form-field label="Referral Code (optional)" labelFor="referral">
      <input type="text" id="referral" formControlName="referral_code" />
    </ca-form-field>
    @if (isSubmitted && (referralCode?.dirty || referralCode?.invalid)) {
    <ca-form-error [errors]="referralCode?.errors" />
    }
  </div>

  <div class="mb-12">
    <div class="flex items-start gap-3">
      <input type="checkbox" id="subscribe" formControlName="subscription" />
      <label class="text-sm" for="subscribe">
        By submitting this form, I acknowledge that I am subscribing to emails
        related to ColloAfrica
      </label>
    </div>
    @if (isSubmitted && form.get('subscription')?.errors) {
    <ca-form-error [errors]="form.get('subscription')?.errors" />
    }
  </div>

  <button type="submit" class="w-full" ca-button-primary [loading]="loading">
    Sign up
  </button>

  <p class="mt-6 mb-10 text-center text-sm font-medium">
    Already have an account?
    <a routerLink="/auth/sign-in" class="text-purple-main hover:underline"
      >Login</a
    >
  </p>
</form>
