<h1 class="font-semibold leading-1.2 mb-8">Sign Up</h1>

<form>
  <ca-cols-field-2 class="mb-6">
    <ca-form-field
      label="First Name"
      labelFor="first_name"
      [isRequired]="true"
      col-1
    >
      <i class="ca-user-circle"></i>
      <input id="first_name" type="text" />
    </ca-form-field>

    <ca-form-field
      label="Last Name"
      labelFor="last_name"
      [isRequired]="true"
      col-2
    >
      <i class="ca-user-circle"></i>
      <input id="last_name" type="text" />
    </ca-form-field>
  </ca-cols-field-2>

  <div class="mb-6">
    <ca-form-field label="Email" labelFor="email" [isRequired]="true">
      <i class="ca-at"></i> <input id="email" type="email" />
    </ca-form-field>
  </div>

  <div class="mb-6">
    <ca-form-field label="Phone Number" labelFor="phone" [isRequired]="true">
      <i class="ca-phone"></i> <input id="phone" type="tel" />
    </ca-form-field>
  </div>

  <ca-cols-field-2 class="mb-6">
    <ca-form-field
      label="Password"
      labelFor="password"
      [isRequired]="true"
      col-1
    >
      <input type="password" id="password" />
    </ca-form-field>

    <ca-form-field
      label="Confirm Password"
      labelFor="confirm_password"
      [isRequired]="true"
      col-2
    >
      <input type="password" id="confirm_password" />
    </ca-form-field>
  </ca-cols-field-2>

  <div class="mb-6">
    <ca-form-field label="Referral Code (optional)" labelFor="referral">
      <input type="text" id="referral" />
    </ca-form-field>
  </div>

  <div class="mb-12 flex items-start gap-3">
    <input type="checkbox" id="subscribe" />
    <label class="text-sm" for="subscribe">
      By submitting this form, I acknowledge that I am subscribing to emails
      related to ColloAfrica
    </label>
  </div>

  <button ca-button-primary class="w-full">Sign up</button>

  <p class="mt-6 mb-10 text-center text-sm font-medium">
    Already have an account?
    <a routerLink="/auth/sign-in" class="text-purple-main hover:underline"
      >Login</a
    >
  </p>
</form>
