<div
  class="ca-wa-details bg-white text-[#171717] rounded-xl p-4 lg:pt-[22px] lg:pb-[28px] select-none"
>
  <div class="h-[19px] mb-2 lg:mb-0 lg:h-9 flex items-center">
    <div class="text-sm">Account Name:</div>
    <div class="value ms-auto font-medium">
      {{
        account()
          ? account()!.account_first_name + " " + account()!.account_last_name
          : "********"
      }}
    </div>
  </div>

  <div class="h-[19px] mb-2 lg:mb-0 lg:h-9 flex items-center">
    <div class="text-sm">Bank:</div>
    <div class="value ms-auto font-medium">VFD Bank</div>
  </div>

  <div class="h-[19px] mb-2 lg:mb-5 lg:h-9 flex items-center">
    <div class="text-sm">Account No:</div>
    <div class="value-acct ms-auto font-medium text-purple-main">
      {{ account() ? account()!.account_number : "********" }}
    </div>
  </div>

  <button class="inline-flex items-center gap-2" [caCopyText]="accountDetails">
    <i class="ca-copy"></i>
    <span class="text-xs">Copy to clipboard</span>
  </button>
</div>
