<header class="flex items-center h-[102px]">
  <a routerLink="/" aria-label="Navigate to home page">
    <img src="assets/images/logo.svg" alt="" width="75" height="25" />
  </a>

  <div class="ms-auto flex items-center">
    <a
      routerLink="/notifications"
      aria-label="Navigate to notifications page"
      class="notification"
    >
      <i class="ca-notification"></i>
    </a>
    <button class="ms-6 text-[#171717] inline-flex items-center gap-2">
      <img
        [ngSrc]="user()?.profile_picture || 'assets/images/profile-photo.jpg'"
        alt="Avatar"
        width="30"
        height="30"
        class="rounded-full object-cover"
      />
      <span class="font-medium hidden sm:inline">
        {{ user()?.first_name }} {{ user()?.last_name }}
      </span>
    </button>
    <ng-content select=".menu-btn" />
  </div>
</header>

<div class="divider"></div>
