<header class="flex items-center h-[102px]">
  <a routerLink="/" aria-label="Navigate to home page">
    <img src="assets/images/logo.svg" alt="" width="75" height="25" />
  </a>

  <div class="ms-auto flex items-center">
    <a
      routerLink="/notifications"
      aria-label="Navigate to notifications page"
      class="notification"
    >
      <i class="ca-notification"></i>
    </a>
    <a
      class="ms-6 text-[#171717] inline-flex items-center gap-2"
      routerLink="/profile"
    >
      <figure class="h-[30px] aspect-square relative">
        <img
          fill
          priority="high"
          alt="Avatar"
          class="rounded-full object-cover"
          [ngSrc]="
            user()?.profile_picture || 'assets/images/profile-photo.webp'
          "
        />
      </figure>
      <span
        class="font-medium hidden sm:inline-block max-w-40 overflow-hidden text-ellipsis whitespace-nowrap"
      >
        {{ user()?.first_name }} {{ user()?.last_name }}
      </span>
    </a>
    <ng-content select=".menu-btn" />
  </div>
</header>

<div class="divider"></div>
