:host {
  display: flex;
  align-items: center;
  height: 29px;
  line-height: 1.3125;
  margin-block-end: 8px;
  padding-inline: 1rem;
  cursor: pointer;
  color: #333;
}

:host:hover {
  background-color: var(--purple);
  color: #fff;
}

:host:last-of-type {
  margin-block-end: 0;
}
