<ca-card class="rounded-xl h-[83px]">
  @if (!virtualAccount()) {
  <div class="h-full py-[15px] px-5 xl:px-7 text-sm font-medium leading-1.2">
    <p class="mb-2">Account Number</p>
    <div>
      <p>In progress...</p>
      <progress
        class="h-[3px] w-full rounded-[20px] overflow-hidden"
        value="50"
        max="100"
      >
        50%
      </progress>
    </div>
  </div>
  } @else {
  <div class="h-full px-5 grid grid-cols-2 items-center">
    <div class="text-sm leading-1.2 h-full content-center">
      <p class="font-medium">Account Number</p>
      <p class="my-1 text-purple-main font-semibold text-base">
        {{ virtualAccount()?.account_number }}
      </p>
      <p>{{ virtualAccount()?.bank_name }}</p>
    </div>
    <div
      class="border-s border-s-[#E8E8E8] h-full lg:text-center content-end pb-4 ps-4 lg:ps-0"
    >
      <button
        class="text-purple-main font-medium inline-flex items-center gap-2 grow text-sm xl:text-base"
        [caCopyText]="virtualAccount()!.account_number"
      >
        <i class="ca-copy"></i>
        Copy to clipboard
      </button>
    </div>
  </div>
  }
</ca-card>
