<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="mb-6">
    <ca-form-field
      label="Plan name"
      labelFor="name"
      class="block"
      [isRequired]="true"
    >
      <input
        type="text"
        id="name"
        formControlName="name"
        [ngClass]="{
          'ng-touched ng-dirty': isSubmitted && name?.invalid
        }"
      />
    </ca-form-field>
    @if (isSubmitted && name?.invalid) {
    <ca-form-error [errors]="name?.errors" />
    }
  </div>

  <div class="mb-6">
    <ca-form-field
      label="Short description"
      labelFor="desc"
      class="block"
      [isRequired]="true"
    >
      <input
        type="text"
        id="desc"
        formControlName="desc"
        [ngClass]="{
          'ng-touched ng-dirty': isSubmitted && desc?.invalid
        }"
      />
    </ca-form-field>
    @if (isSubmitted && desc?.invalid) {
    <ca-form-error [errors]="desc?.errors" />
    }
  </div>

  <!-- 2 cols -->
  <div class="xl:grid grid-cols-2 gap-4">
    <div class="mb-5">
      <ca-form-field
        label="Duration"
        labelFor="duration"
        class="block"
        [isRequired]="true"
      >
        <div class="-mx-5 grow">
          <ng-select
            class="px-2"
            [clearOnBackspace]="false"
            labelForId="duration"
            formControlName="duration"
            [ngClass]="{
              'ng-touched ng-dirty': isSubmitted && duration?.invalid
            }"
          >
            @for (duration of durations; track $index) {
            <ng-option [value]="duration.id">{{ duration.name }}</ng-option>
            }
          </ng-select>
        </div>
      </ca-form-field>
      @if (isSubmitted && duration?.invalid) {
      <ca-form-error [errors]="duration?.errors" />
      }
    </div>

    <div class="mb-6">
      <ca-form-field
        label="Number of members"
        labelFor="num-members"
        class="block"
        [isRequired]="true"
      >
        <input
          type="number"
          id="num-members"
          formControlName="number_of_members"
          [ngClass]="{
            'ng-touched ng-dirty': isSubmitted && numberOfMembers?.invalid
          }"
        />
      </ca-form-field>
      @if (isSubmitted && numberOfMembers?.invalid) {
      <ca-form-error [errors]="numberOfMembers?.errors" />
      }
    </div>
  </div>
  <!-- 2 cols -->

  <div class="mb-6">
    <ca-form-field
      label="Amount"
      labelFor="amount"
      class="block"
      [isRequired]="true"
    >
      <input
        type="number"
        id="amount"
        formControlName="amount"
        [ngClass]="{
          'ng-touched ng-dirty': isSubmitted && amount?.invalid
        }"
      />
      <div class="border-s border-[#7D7F85] ps-3" style="color: #77777e">
        NGN
      </div>
    </ca-form-field>
    @if (isSubmitted && amount?.invalid) {
    <ca-form-error [errors]="amount?.errors" />
    }
  </div>

  <div class="mb-6">
    <ca-form-field
      label="Join date deadline"
      labelFor="date"
      class="block"
      [isRequired]="true"
    >
      <input
        id="date"
        type="text"
        formControlName="join_date_deadline"
        bsDatepicker
        #jdp="bsDatepicker"
        readonly
        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
        [ngClass]="{
          'ng-dirty ng-touched': isSubmitted && joinDateDeadline?.invalid
        }"
      />
      <i class="ca-calendar text-[#5c5c5c]" (click)="jdp.show()"></i>
    </ca-form-field>
    @if (isSubmitted && joinDateDeadline?.invalid) {
    <ca-form-error [errors]="joinDateDeadline?.errors" />
    }
  </div>

  <!-- 2 cols -->
  <div class="xl:grid grid-cols-2 gap-4">
    <div class="mb-6">
      <ca-form-field
        label="Contribution start date"
        labelFor="start-date"
        class="block"
        [isRequired]="true"
      >
        <input
          id="start-date"
          type="text"
          formControlName="contribution_start_date"
          bsDatepicker
          #cdp="bsDatepicker"
          readonly
          [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
          [ngClass]="{
            'ng-dirty ng-touched': isSubmitted && startDate?.invalid
          }"
        />
        <i class="ca-calendar text-[#5c5c5c]" (click)="cdp.show()"></i>
      </ca-form-field>
      @if (isSubmitted && startDate?.invalid) {
      <ca-form-error [errors]="startDate?.errors" />
      }
    </div>

    <div class="mb-6">
      <ca-form-field
        label="Allocation date"
        labelFor="allocation-date"
        class="block"
        [isRequired]="true"
      >
        <input
          id="allocation-date"
          type="text"
          formControlName="allocation_date"
          bsDatepicker
          #adp="bsDatepicker"
          readonly
          [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
          [ngClass]="{
            'ng-dirty ng-touched': isSubmitted && allocationDate?.invalid
          }"
        />
        <i class="ca-calendar text-[#5c5c5c]" (click)="adp.show()"></i>
      </ca-form-field>
      @if (isSubmitted && allocationDate?.invalid) {
      <ca-form-error [errors]="allocationDate?.errors" />
      }
    </div>
  </div>
  <!-- 2 cols -->

  <div class="mb-5">
    <ca-form-field
      label="Select Allotment Type"
      labelFor="allotment-type"
      class="block"
      [isRequired]="true"
    >
      <div class="-mx-5 grow">
        <ng-select
          class="px-2"
          labelForId="allotment-type"
          formControlName="allotment_type"
          [clearOnBackspace]="false"
          [ngClass]="{
            'ng-touched ng-dirty': isSubmitted && allotmentType.invalid
          }"
          (change)="handleSelectAllotmentType($event)"
        >
          <ng-option value="manual">Manual Allotment</ng-option>
          <ng-option value="auto">Auto Allotment</ng-option>
        </ng-select>
      </div>
    </ca-form-field>
    @if (isSubmitted && allotmentType.invalid) {
    <ca-form-error [errors]="allotmentType.errors" />
    }
  </div>

  <!-- @if (selectedAllotmentType && selectedAllotmentType === 'manual') {
  <div class="mb-6">
    <ca-form-field
      label="Allotment Position"
      labelFor="allotment-position"
      class="block"
      [isRequired]="true"
    >
      <input
        type="number"
        id="allotment-position"
        formControlName="allotment_position"
        [ngClass]="{
          'ng-touched ng-dirty': isSubmitted && allotmentPosition?.invalid
        }"
      />
    </ca-form-field>
    @if (isSubmitted && allotmentPosition?.invalid) {
    <ca-form-error [errors]="allotmentPosition?.errors" />
    }
  </div>
  } -->

  <div class="mt-7 mb-6">
    <div class="flex flex-wrap gap-5 items-center sm:justify-center">
      <div class="shrink-0">
        <div class="font-medium mb-2">Choose theme color</div>
        <div class="flex gap-2 xl:gap-3">
          @for (theme of themes; track $index) {
          <div
            class="w-6 h-6 inline-flex items-center justify-center rounded-full cursor-pointer"
            [attr.data-theme]="$index"
            (click)="selectTheme(theme, $index + 1)"
          >
            @if (selectedThemeIndex && selectedThemeIndex === $index + 1) {
            <span class="text-xs text-white font-semibold">&#10003;</span>
            }
          </div>
          }
        </div>
        @if (isSubmitted && themeColor.invalid) {
        <ca-form-error [errors]="themeColor.errors" />
        }
      </div>
      <button
        class="btn bg-purple-main text-white sm:ms-auto shrink-0"
        type="button"
        style="
          font-size: clamp(0.75rem, 0.6667rem + 0.3704vw, 1rem);
          height: 36px;
        "
        (click)="selectAllotmentType()"
      >
        Select allotment type
      </button>
    </div>
  </div>

  @if (!isEditing) {
  <div class="mb-12">
    <div class="flex items-start gap-3">
      <input type="checkbox" id="subscribe" formControlName="terms" />
      <label class="text-sm" for="subscribe">
        I agree to Collo Africa MGR terms and conditions.
      </label>
    </div>
    @if (isSubmitted && terms?.invalid) {
    <ca-form-error [errors]="terms?.errors" />
    }
  </div>
  }

  <div class="mb-4">
    <button
      class="w-full btn bg-purple-main text-white"
      type="submit"
      loadingColour="#fff"
      [loading]="loading"
    >
      Submit
    </button>
  </div>
</form>
