<form class="mt-8" [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="mb-6">
    <ca-form-field label="Card Number" labelFor="card-number">
      <input
        type="text"
        id="card-number"
        placeholder="0000 0000 0000 0000"
        [imask]
      />
    </ca-form-field>
  </div>

  <ca-cols-field-2>
    <div col-1>
      <ca-form-field label="Card expiry" labelFor="expiry">
        <input type="text" id="expiry" placeholder="MM/YY" />
      </ca-form-field>
    </div>

    <div col-2>
      <ca-form-field label="CVV" labelFor="cvv">
        <input type="text" id="cvv" placeholder="123" />
      </ca-form-field>
    </div>
  </ca-cols-field-2>

  <div class="mt-11 text-end">
    <button ca-button-primary class="w-52" type="submit">Proceed</button>
  </div>
</form>
