<ca-auth-form-layout>
  <div class="text-center pt-6 max-w-[32.25rem] mx-auto">
    <hgroup class="mt-5">
      <h1 class="leading-1.2 font-semibold">Forgot password</h1>
      <p>Enter your email address</p>
    </hgroup>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="mt-11 mb-16">
        <ca-form-field label="Email" labelFor="email" [isRequired]="true">
          <i class="ca-at"></i>
          <input
            id="email"
            type="email"
            formControlName="email"
            [ngClass]="{
              'ng-dirty ng-touched':
                isSubmitted && (email?.dirty || email?.invalid)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (email?.dirty || email?.invalid)) {
        <ca-form-error [errors]="email?.errors" class="text-start block" />
        }
      </div>

      <div class="max-w-[25rem] mx-auto">
        <button
          class="w-full"
          type="submit"
          ca-button-primary
          [loading]="loading"
        >
          Send
        </button>
      </div>
    </form>

    <p class="text-center my-8 lg:mb-12">
      Back to
      <a routerLink="/auth/sign-in" class="text-purple-main hover:underline"
        >Login</a
      >
    </p>
  </div>
</ca-auth-form-layout>
