:host .buttons button {
  font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
  height: 29px;
  border: 1px solid var(--purple);
  border-radius: 8px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

:host .flex-ctr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

:host .col-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

:host .col-2 .allocation-card {
  box-shadow: 0.5px 0.5px 12px 0 #8c8c8c0d;
  border-radius: 14px;
  overflow: hidden;
}

:host .col-2 .alloc-position {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.625rem;
}

:host .col-2 .allocation-card img {
  width: clamp(1.625rem, 1.6667rem + -0.1852vw, 1.5rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

@media screen and (min-width: 52rem) {
  :host .flex-ctr {
    align-items: start;
    flex-direction: row;
    gap: 0.75rem;
  }
}

@media screen and (min-width: 56rem) {
  :host .flex-ctr {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }
}

@media screen and (min-width: 65rem) {
  :host .flex-ctr {
    align-items: start;
    flex-direction: row;
    gap: 0.75rem;
  }

  :host .flex-ctr .col-2 .share-alloc > ca-card {
    max-width: 16.5rem;
    flex-grow: 1;
  }
}

:host .icon-buttons button:disabled {
  background-color: #d3d3d3;
}
