<ca-auth-form-layout>
  <div class="text-center pt-6 max-w-[32.25rem] mx-auto">
    <hgroup class="mt-5 mb-8">
      <h1 class="leading-1.2 font-semibold">Reset password</h1>
    </hgroup>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="mb-6">
        <ca-form-field
          label="Reset password code"
          labelFor="code"
          [isRequired]="true"
        >
          <input
            id="code"
            type="number"
            formControlName="otp"
            inputmode="numeric"
            [ngClass]="{
              'ng-dirty ng-touched': isSubmitted && (otp?.dirty || otp?.invalid)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (otp?.dirty || otp?.invalid)) {
        <ca-form-error [errors]="otp?.errors" class="block text-start" />
        }
      </div>

      <div class="mb-6">
        <ca-form-field
          label="New password"
          labelFor="new_password"
          [isRequired]="true"
        >
          <input
            id="new_password"
            type="password"
            formControlName="password"
            [ngClass]="{
              'ng-dirty ng-touched':
                isSubmitted && (password?.dirty || password?.invalid)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (password?.dirty || password?.invalid)) {
        <ca-form-error [errors]="password?.errors" class="block text-start" />
        }
      </div>

      <div>
        <ca-form-field
          label="Confirm Password"
          labelFor="confirm_password"
          [isRequired]="true"
        >
          <input
            type="password"
            id="confirm_password"
            formControlName="password_confirmation"
            [ngClass]="{
              'ng-dirty ng-touched':
                isSubmitted &&
                (passwordConfirmation?.dirty || passwordConfirmation?.invalid)
            }"
          />
        </ca-form-field>
        @if (isSubmitted && (passwordConfirmation?.dirty ||
        passwordConfirmation?.invalid)) {
        <ca-form-error [errors]="form.errors" class="block text-start" />
        }
      </div>

      <div class="max-w-[25rem] my-16 mx-auto">
        <button
          type="submit"
          class="w-full"
          ca-button-primary
          [loading]="loading"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ca-auth-form-layout>
