:host .buttons button {
  font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
  height: 29px;
  border: 1px solid var(--purple);
  border-radius: 8px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

:host nav a {
  color: #5c5c5c;
  border: 1px solid #abadb2;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  height: 38px;
  flex-shrink: 0;
  font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
}
