<div class="mt-9">
  <a routerLink="/" aria-label="Navigate to dashboard home">
    <img src="assets/images/logo.svg" alt="" width="124" height="42" />
  </a>
</div>

<div class="divider mt-6"></div>

<menu class="list-none">
  <li class="h-[52px] flex">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-grid text-lg"></i><span>Dashboard</span>
    </a>
  </li>

  <li class="h-[52px] flex">
    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-user-circle text-lg"></i><span>My Profile</span>
    </a>
  </li>

  <li class="h-[52px] flex">
    <a
      routerLink="/mgr-plan"
      routerLinkActive="active"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-atom text-lg"></i><span>Merry Go Round</span>
    </a>
  </li>

  <li class="h-[52px] flex">
    <a
      routerLink="/wallet"
      routerLinkActive="active"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-wallet text-lg"></i><span>Account Wallet</span>
    </a>
  </li>

  <li class="h-[52px] flex">
    <a
      routerLink="/investments"
      routerLinkActive="active"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-currency-circle-dollar text-lg"></i><span>Investment</span>
    </a>
  </li>

  <li class="h-[52px] flex">
    <a
      routerLink="/savings"
      routerLinkActive="active"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-hand-coin text-lg"></i><span>My Savings</span>
    </a>
  </li>

  <li class="h-[52px] flex">
    <a
      routerLink="/transactions"
      routerLinkActive="active"
      class="flex items-center gap-4 font-medium"
    >
      <i class="ca-clipboard text-lg"></i><span>Transaction History</span>
    </a>
  </li>
</menu>

<button
  class="mt-auto text-start flex items-center gap-4 font-medium text-danger py-2"
  (click)="handleLogout()"
>
  <i class="ca-logout text-lg"></i> <span>Logout</span>
</button>
