:host .divider {
  background-color: #f3f5f5;
  height: 2px;
  margin-block-end: 18px;
}

:host ul li a {
  color: #7d7f85;
  width: 100%;
}

:host ul li a:is(.active, :hover) {
  color: var(--purple);
  transition: color 350ms;
}

:host ul li a::after {
  content: "\e92a";
  font-family: "ColloAfrica" !important;
  margin-inline-start: auto;
  font-weight: 500;
  opacity: 0;
}

:host ul li:hover a::after,
:host ul li a.active::after {
  opacity: 1;
  transition: opacity 450ms;
}
