<ca-card class="px-4 sm:px-6 pt-4 pb-6 sm:pb-12 mb-8 rounded-lg">
  <div class="flex flex-col sm:flex-row gap-6 sm:gap-0 items-center">
    <h2 class="text-purple-main font-medium">Bank Accounts Info</h2>

    <button
      class="btn btn-xs bg-purple-main text-white sm:ms-auto h-8"
      (click)="openModal()"
    >
      <i class="ca-plus"></i> Add new bank account
    </button>
  </div>

  @if (bankAccounts()) {
  <div class="ca-bank-accounts mt-4">
    @for (account of bankAccounts(); track account.id) {
    <ca-bank-account-info-item class="mb-4">
      <ca-bank-account-info-item-column columnTitle="Bank Name">
        <p class="font-medium">{{ account.bank_name }}</p>
      </ca-bank-account-info-item-column>

      <ca-bank-account-info-item-column columnTitle="Account Number">
        <p class="font-medium">{{ account.account_number }}</p>
      </ca-bank-account-info-item-column>

      <ca-bank-account-info-item-column columnTitle="Primary">
        <ca-switch [checked]="!!account.primary" />
      </ca-bank-account-info-item-column>

      <ca-bank-account-info-item-column columnTitle="Status">
        <p
          class="font-medium"
          [ca-status-text]="account.status ? 'verified' : 'unverified'"
        >
          {{ account.status ? "Verified" : "Unverified" }}
        </p>
      </ca-bank-account-info-item-column>

      <ca-bank-account-info-item-column class="sticky right-0 top-0 bottom-0">
        <button class="text-purple-main"><i class="ca-trash-solid"></i></button>
      </ca-bank-account-info-item-column>
    </ca-bank-account-info-item>
    } @empty {
    <div class="mt-9 flex flex-col items-center">
      <img
        src="assets/images/empty-folder.svg"
        alt=""
        width="136"
        height="148"
      />
      <p class="mt-1 font-medium">No Bank account(s) added yet</p>
      <p class="mt-[6px] text-xs text-[#5c5c5c]">
        Seems like you've not added a bank account
      </p>
    </div>
    }
  </div>
  }

  <!-- Handle loading -->
  @if (loading) {
  <div class="flex items-center justify-center h-full mt-8">
    <ca-loader />
  </div>
  }
</ca-card>
