<div class="h-screen ca-dashboard">
  <nav
    class="bg-white h-full shrink-0 px-4 z-10 no-scrollbar"
    [class.active]="showNav()"
    #mainNav
  >
    <ca-sidebar />
  </nav>

  <div class="grow bg-[#f5f5f5] flex flex-col main-content">
    <div class="px-5 grow">
      <ca-header>
        <button
          class="p-2 bg-purple-main text-white font-bold ms-4 menu-btn" style="border-radius: 6px;"
          (click)="toggleNav($event)"
          aria-label="menu"
        >
          <i class="ca-list flex"></i>
        </button>
      </ca-header>

      <main class="max-w-[68rem] mx-auto">
        <ng-content />
      </main>
    </div>

    <footer
      class="py-6 lg:py-6 xl:py-8 bg-[#ededed] flex items-center justify-center shrink-0"
    >
      <nav
        class="flex gap-2 sm:gap-3 font-normal leading-1.2 text-[.625rem] lg:text-xs"
      >
        <a
          href="http://colloafrica.com/#becom-member"
          target="_blank"
          rel="noopener noreferrer"
          >About Us</a
        >
        <a
          href="https://www.colloafrica.com/contactus.html"
          target="_blank"
          rel="noopener noreferrer"
          >Contact Us</a
        >
        <a
          href="https://www.colloafrica.com/privacy-policy.html"
          target="_blank"
          rel="noopener noreferrer"
          >Privacy Policy</a
        >
        <a
          href="https://www.colloafrica.com/terms-conditions.html"
          target="_blank"
          rel="noopener noreferrer"
          >Term & Conditions
        </a>
      </nav>
    </footer>
  </div>
</div>
