:host .ca-dashboard > nav {
  position: fixed;
  left: -100%;
  transition: left 450ms;
}

@media (orientation: landscape) {
  :host .ca-dashboard > nav {
    overflow-y: scroll;
    padding-block-end: 1.125rem;
  }
}

@media (min-height: 650px) {
  :host .ca-dashboard > nav {
    padding-block-end: 2rem;
  }
}

:host .ca-dashboard .main-content {
  min-height: 100vh;
}

:host .ca-dashboard .main-content::-webkit-scrollbar {
  width: 6px;
}

:host .ca-dashboard .main-content::-webkit-scrollbar-track {
  background: #989393;
}

:host .ca-dashboard .main-content::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 6px;
}

:host .ca-dashboard > nav.active {
  left: 0;
}

@media screen and (min-width: 56rem) {
  :host .ca-dashboard {
    display: flex;
  }

  :host .ca-dashboard .main-content {
    overflow-y: scroll;
  }

  :host .ca-dashboard > nav {
    position: static;
    left: 0;
  }

  :host .menu-btn {
    display: none;
  }
}

:host footer a {
  color: #5c5c5c;
}

:host footer a:not(:last-of-type)::after {
  content: "|";
  color: #dcdcdc;
  margin-inline-start: 0.75rem;
}
