<div class="flex h-screen">
  <nav class="w-72 bg-white h-full shrink-0 ps-8 pe-6">
    <ca-sidebar />
  </nav>

  <div class="grow bg-[#f5f5f5] flex flex-col overflow-y-scroll">
    <div class="px-5 grow pb-5">
      <header></header>
      <main>
        <ng-content />
      </main>
    </div>

    <footer
      class="py-6 lg:py-6 xl:py-8 bg-[#ededed] flex items-center justify-center shrink-0"
    >
      <nav class="flex gap-3 font-normal leading-1.2 text-[.625rem] lg:text-xs">
        <a
          href="http://colloafrica.com/#becom-member"
          target="_blank"
          rel="noopener noreferrer"
          >About Us</a
        >
        <a
          href="https://www.colloafrica.com/contactus.html"
          target="_blank"
          rel="noopener noreferrer"
          >Contact Us</a
        >
        <a
          href="https://www.colloafrica.com/privacy-policy.html"
          target="_blank"
          rel="noopener noreferrer"
          >Privacy Policy</a
        >
        <a
          href="https://www.colloafrica.com/terms-conditions.html"
          target="_blank"
          rel="noopener noreferrer"
          >Term & Conditions
        </a>
      </nav>
    </footer>
  </div>
</div>
