:host .ca-dashboard > nav {
  position: fixed;
  left: -100%;
  transition: left 450ms;
}

:host .ca-dashboard .main-content {
  min-height: 100vh;
}

:host .ca-dashboard > nav.active {
  left: 0;
}

@media screen and (min-width: 56rem) {
  :host .ca-dashboard {
    display: flex;
  }

  :host .ca-dashboard > nav {
    position: static;
    left: 0;
  }
}

:host footer a {
  color: #5c5c5c;
}

:host footer a:not(:last-of-type)::after {
  content: "|";
  color: #dcdcdc;
  margin-inline-start: 0.75rem;
}
