/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #470b96;
  --body-text-1: #333;
  --body-text-2: #5c5c5c;

  --button-text: #171717;
  --button-disabled: #d0d5dd;

  --orange-50: #fff7e5;
  --orange-400: #ffbb33;
  --orange-500: #e29700;
  --orange-600: #cc8800;

  min-height: 100vh;
}

body {
  font-family: "Albert Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: var(--body-text-1);
  background-color: #ededed;
  min-height: 100vh;
}

hgroup h1 {
  font-size: clamp(1.5rem, 1.1667rem + 1.4815vw, 2.5rem);
}

hgroup p {
  color: var(--body-text-2);
  font-size: clamp(0.875rem, 0.6667rem + 0.9259vw, 1.5rem);
}

/* Forms */
.btn {
  height: 50px;
  border-radius: 8px;
  padding-inline: 1rem;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 350ms;
}

.btn-sm {
  height: 46px;
}

.btn-xs {
  height: 32px;
  font-size: 0.875rem;
}

.primary,
.primary:enabled:active {
  color: var(--button-text);
  background-color: var(--orange-500);
}

.primary:enabled:hover {
  background-color: var(--orange-400);
}

.primary:focus {
  background-color: var(--orange-600);
}

.primary:disabled {
  background-color: var(--button-disabled);
  color: #fff;
}

.secondary {
  color: var(--button-text);
  background-color: #fff;
  border: 1.5px solid var(--orange-500);
}

.secondary:enabled:is(:hover, :focus) {
  background-color: var(--orange-50);
}

.secondary:disabled {
  background-color: #fff;
  color: #b0b0b0;
  border: 2px solid var(--button-disabled);
}

:disabled {
  cursor: not-allowed;
}

::placeholder,
.ca-form-control input::placeholder {
  color: #7d7f85;
}
.ca-form-control input,
.ca-form-control input:focus-visible,
.ca-form-control input:focus {
  border-color: transparent;
  outline: 0;
  flex-grow: 1;
  width: 100%;
}

label:has(input[type="radio"]) {
  cursor: pointer;
}

input {
  font-weight: 500;
  line-height: 1.2;
}

input[type="checkbox"] {
  accent-color: var(--purple);
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  width: 24px;
  aspect-ratio: 1;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #7d7f85;
  border-radius: 50%;
  position: relative;
}

input[type="radio"]:is(:hover, :focus, :checked) {
  border-color: var(--purple);
  border-width: 1.5px;
}

input[type="radio"]::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  background-color: transparent;
  transition: opacity 450ms;
}

input[type="radio"]:checked::after {
  opacity: 1;
  background-color: var(--purple);
}

input[type="radio"]:focus-visible {
  outline-offset: 4px;
  outline-width: 1px;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
/* Forms */

/* Table */
table td {
  padding: 12px 1.5rem;
  font-weight: 500;
}
/* Table */

/* Badge */

.badge {
  height: 30px;
  width: 88px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 6px;
}

[data-status="success"] {
  background: #17b890;
}

[data-status="pending"] {
  background: #e29700;
}

[data-status="failed"] {
  background: #d92121;
}
/* Badge */

/* Utils */
.no-scrollbar {
  scrollbar-width: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Utils */

/* NG Select */
.ng-select .ng-select-container {
  color: #333;
  border-radius: 0;
  border: none;
}
.ng-select .ng-select-container:hover {
  box-shadow: none;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding-inline: 1rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: var(--purple);
  color: #fff;
}
.ng-dropdown-panel.ng-select-bottom {
  padding: 0;
  border: none;
  box-shadow: 2px 2px 8px 0 #6f6f6f40;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #7d7f85;
  font-weight: 500;
}
/* NG Select */
