/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #470b96;
  --body-text-1: #333;
  --body-text-2: #5c5c5c;

  min-height: 100vh;
}

body {
  font-family: "Albert Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: var(--body-text-1);
  background-color: #ededed;
  min-height: 100vh;
}

hgroup h1 {
  font-size: clamp(1.5rem, 1.1667rem + 1.4815vw, 2.5rem);
}

hgroup p {
  color: var(--body-text-2);
  font-size: clamp(0.875rem, 0.6667rem + 0.9259vw, 1.5rem);
}

/* Forms */
::placeholder {
  color: #5c5c5c;
}

.ca-form-control input,
.ca-form-control input:focus-visible,
.ca-form-control input:focus {
  border-color: transparent;
  outline: 0;
  flex-grow: 1;
}

input {
  font-weight: 500;
  line-height: 1.2;
}

input[type="checkbox"] {
  accent-color: var(--purple);
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  width: 24px;
  aspect-ratio: 1;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
/* Forms */
