:host textarea {
  resize: none;
  border-radius: 5px;
  border: 0.5px solid #b0b0b0;
}

:host textarea:is(:focus, :focus-visible) {
  border: 0.5px solid var(--purple);
  outline-color: var(--purple);
}
