<div class="ca-content-sidebar" [class.bbs]="showBorderTop">
  <section class="content lg:pe-5">
    <ng-content />
  </section>

  <aside class="">
    <div class="cards">
      <ca-aside-card
        heading="Questions? Talk to us"
        content="Get in touch with us to see how Collo can help you meet your financial targets. Our customer service reps are always available to walk you through getting started."
        url="https://www.example.com"
      />

      <ca-aside-card
        heading="Want to access first-class savings and investment opportunities?"
        content="Join the Collo community today."
        url="https://www.example.com"
      />
    </div>
  </aside>
</div>
