:host .ca-content-sidebar .cards ca-aside-card {
  margin-block-end: 24px;
}

:host .ca-content-sidebar aside {
  margin-block: 24px;
}

@media screen and (min-width: 36rem) {
  :host .ca-content-sidebar .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  :host .ca-content-sidebar .cards ca-aside-card {
    margin-block-end: 0;
  }
}

:host .ca-content-sidebar .divider {
  background-color: #d8d8d8;
  width: 2px;
}

@media screen and (min-width: 72.5rem) {
  :host .ca-content-sidebar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-block-start: 2px solid #d8d8d8;
    padding-block: 9px;
  }
  :host .ca-content-sidebar aside {
    padding-inline-start: 1.5rem;
    border-inline-start: 2px solid #d8d8d8;
    margin-block: 0;
    padding-block-start: 40px;
  }
  :host .ca-content-sidebar .cards {
    display: block;
  }
  :host .ca-content-sidebar .cards ca-aside-card {
    margin-block-end: 48px;
  }
}
