<ca-card class="p-8 xl:p-10">
  <ca-profile-card />
</ca-card>

<form class="mt-8">
  <ca-card class="px-6 pt-4 pb-12 mb-5">
    <h2 class="text-purple-main mb-10 font-medium text-xl">Basic info</h2>
  </ca-card>

  <ca-card class="px-6 pt-4 pb-12 mb-5">
    <h2 class="text-purple-main mb-10 font-medium text-xl">Contact info</h2>
  </ca-card>

  <ca-card class="px-6 pt-4 pb-12 mb-5">
    <h2 class="text-purple-main mb-10 font-medium text-xl">Employment info</h2>
  </ca-card>

  <ca-card class="px-6 pt-4 pb-12 mb-8">
    <h2 class="text-purple-main mb-10 font-medium text-xl">Next of kin</h2>
  </ca-card>

  <div class="mb-10">
    <button class="btn bg-purple-main h-[44px] text-white">
      Save & update
    </button>
  </div>
</form>
