:host p {
  font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
}

:host .overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26));
}

:host .play-btn {
  width: 79px;
  aspect-ratio: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48));
}
