<h1 class="font-semibold leading-1.2 mb-8">Login</h1>

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="mb-6">
    <ca-form-field label="Email" labelFor="email" [isRequired]="true">
      <i class="ca-at"></i>
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{
          'ng-dirty ng-touched': isSubmitted && (email?.dirty || email?.invalid)
        }"
      />
    </ca-form-field>
    @if (isSubmitted && (email?.dirty || email?.invalid)) {
    <ca-form-error [errors]="email?.errors" />
    }
  </div>

  <div class="mb-6">
    <ca-form-field label="Password" labelFor="password" [isRequired]="true">
      <input
        #passwordInput
        type="password"
        id="password"
        formControlName="password"
        [ngClass]="{
          'ng-dirty ng-touched':
            isSubmitted && (password?.dirty || password?.invalid)
        }"
      />
      <i
        (click)="
          passwordInput.type === 'password'
            ? (passwordInput.type = 'text')
            : (passwordInput.type = 'password')
        "
        [ngClass]="{
          'ca-eye': passwordInput.type === 'password',
          'ca-eye-slash': passwordInput.type === 'text'
        }"
      ></i>
    </ca-form-field>
    @if (isSubmitted && (password?.dirty || password?.invalid)) {
    <ca-form-error [errors]="form.get('password')?.errors" />
    }
  </div>

  <p class="text-purple-main mb-8 font-medium">
    <a routerLink="/auth/forgot-password">Forgot Password?</a>
  </p>

  <button class="w-full" type="submit" ca-button-primary [loading]="loading">
    Login
  </button>

  <p class="mt-6 mb-10 text-center text-sm font-medium">
    Don't have an account?
    <a routerLink="/auth/sign-up" class="text-purple-main hover:underline"
      >Register</a
    >
  </p>
</form>
