:host .savings-layout [col-2] {
  margin-block-start: 20px;
}

@media (min-width: 45rem) {
  :host .savings-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: flex-start;
  }

  :host .savings-layout [col-2] {
    margin-block-start: 0;
  }
}

@media (min-width: 56rem) {
  :host .savings-layout {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 72.5rem) {
  :host .savings-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
